{% extends 'dashboard_admin/base/base_dashboard_admin.html' %}

{% block title %}
Dashboard Admin
{% endblock %}

{% block meta_data %}
<meta name="title" content="Dashboard Admin"/>
<meta name="author" content="javad"/>
<meta name="description" content="Dashboard Admin 30 example pages using Vanilla js."/>
<meta name="keywords" content="dashboard,adminlte"/>
{% endblock %}

{% block app-content %}

<div class="row">


    <!-- Total Product -->
    <div class="col-12 col-md-4">
        <div class="info-box">
        <span class="info-box-icon text-bg-primary shadow-sm">
            <i class="bi bi-gear-fill"></i>
        </span>

            <div class="info-box-content">
                <span class="info-box-text">Total Product</span>
                <span class="info-box-number">
                {{ total_product }}
            </span>
            </div>
        </div>
    </div>

    <!-- Total Sales -->
    <div class="col-12 col-md-4">
        <div class="info-box">
        <span class="info-box-icon text-bg-success shadow-sm">
            <i class="bi bi-cart-fill"></i>
        </span>

            <div class="info-box-content">
                <span class="info-box-text">Total Sales</span>
                <span class="info-box-number">
                {{ total_orders }}
            </span>
            </div>
        </div>
    </div>

    <!-- Total Members -->
    <div class="col-12 col-md-4">
        <div class="info-box">
        <span class="info-box-icon text-bg-warning shadow-sm">
            <i class="bi bi-people-fill"></i>
        </span>

            <div class="info-box-content">
                <span class="info-box-text">Total Members</span>
                <span class="info-box-number">
                {{ total_members }}
            </span>
            </div>
        </div>
    </div>


</div>

<div class="card">


    <div class="card-header">
        <h3 class="card-title">Latest Orders</h3>

        <div class="card-tools">
            <button type="button"
                    class="btn btn-tool"
                    data-lte-toggle="card-collapse">
                <i data-lte-icon="expand" class="bi bi-plus-lg"></i>
                <i data-lte-icon="collapse" class="bi bi-dash-lg"></i>
            </button>

            <button type="button"
                    class="btn btn-tool"
                    data-lte-toggle="card-remove">
                <i class="bi bi-x-lg"></i>
            </button>
        </div>
    </div>

    <div class="card-body p-0">

        <div class="table-responsive">

            <table class="table m-0" role="table">

                <thead>
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Item</th>
                    <th scope="col">Paid</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>

                <tbody>

                {% for item in last_orders %}
                <tr>

                    <td>
                        <a href="{% url 'admin_dashboard:order_detail' pk=item.id %}"
                           class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                            {{ item.id }}
                        </a>
                    </td>

                    <td>
                        {{ item.total_price }}
                    </td>

                    <td>
                        {% if item.is_paid %}
                        <span class="badge text-bg-success">
                            Paid
                        </span>
                        {% else %}
                        <span class="badge text-bg-danger">
                            Unpaid
                        </span>
                        {% endif %}
                    </td>
                    <td>
                        {% if item.status == 1 %}
                        <span class="badge text-bg-success">{{ item.get_status_display }}</span>
                        {% elif item.status == 2 %}
                        <span class="badge text-bg-info">{{ item.get_status_display }}</span>
                        {% elif item.status == 0 %}
                        <span class="badge text-bg-warning">{{ item.get_status_display }}</span>
                        {% else %}
                        <span class="badge text-bg-danger">{{ item.get_status_display }}</span>
                        {% endif %}
                    </td>
                </tr>

                {% empty %}
                <tr>
                    <td colspan="4" class="text-center">
                        No orders found
                    </td>
                </tr>
                {% endfor %}


                </tbody>

            </table>

        </div>

    </div>

    <div class="card-footer clearfix">

        <a href="{% url 'admin_dashboard:orders_list' %}"
           class="btn btn-sm btn-secondary float-end">
            View All Orders
        </a>

    </div>


</div>

{% endblock %}
