{% extends 'main/base/base_dashboard.html' %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card text-bg-primary">
            <div class="card-body">
                <h5>Users</h5>
                <h2>120</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-bg-success">
            <div class="card-body">
                <h5>Orders</h5>
                <h2>45</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-bg-warning">
            <div class="card-body">
                <h5>Revenue</h5>
                <h2>$12,500</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}
