{% extends 'main/base/base_main.html' %}
{% load static %}

{% block title %}Forget Password{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header">
                <a href="{% url 'store:home' %}"
                   class="link-dark text-center link-offset-2 link-opacity-100 link-opacity-50-hover list-unstyled text-decoration-none">
                    <h1 class="mb-0">
                        ShopLearning
                    </h1>
                </a>
            </div>

            <div class="card-body login-card-body">
                <p class="login-box-msg">Forget Password</p>

                <!-- ✅ اصلاح شده: action به forget_password اشاره می‌کند -->
                <form method="post" action="{% url 'users:forget_password' %}">
                    {% csrf_token %}

                    <div class="input-group mb-3">
                        <div class="form-floating">
                            <input id="id_email" type="email" class="form-control" name="email" placeholder="name@example.com" required>
                            <label for="id_email">Email</label>
                        </div>
                        <div class="input-group-text">
                            <span class="bi bi-envelope"></span>
                        </div>
                    </div>

                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary w-100">
                            Send Reset Link
                        </button>
                    </div>
                </form>

                {% if messages %}
                   {% for message in messages %}
                        <div class="mt-3">
                            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %} m-3" role="alert">
                              {{ message }}
                            </div>
                        </div>
                   {% endfor %}
                {% endif %}

                <hr>

                <div class="mt-2 text-center">
                    <a href="{% url 'users:show_login' %}">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}